<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="DEBUG" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>{HH:mm:ss} %c{1} - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework">
		<level value="info" />
	</logger>
	<logger name="org.springframework.security">
		<level value="warn" />
	</logger>
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>