body {
	-webkit-font-feature-settings: "kern", "liga";
	-moz-font-feature-settings: "kern", "liga";
	font-feature-settings: "kern", "liga";
	text-rendering: optimizeLegibility;
	border-top: 5px solid #EE6650;
	padding: 0;
	margin: 0;
	color: #eee;
}

a {
	color: #EE6650;
	text-decoration: none;
	padding-bottom: 3px;
}

a:hover {
	border-bottom-style: solid;
}

body, .body {
	/*font-family: "EB Garamond";*/
	/*font-family: 'Open Sans', sans-serif;*/
	xfont-size: 24px;
	line-height: 32px;
	margin:10px;
	min-height:40px;
	padding:10px
}

h1 {
	font-family: 'Libre Baskerville';
	color: #222;
	font-weight: 400;
	font-size: 2em;
	position: relative;
}

/*.loop-header {
	height: 30px;
	background: #CCC;
}*/

#loop-container {
	border: 1px solid lightgray;
	box-shadow: 2px 2px 3px #ccc;
	margin: 30px auto auto;
	background-color:white;
	width: 800px;
}

.content-wrapper {
	padding-left:30px;
	padding-right:30px;
}

.loop {
}

.loop-inner {
}

.loop-header .sid {
	color:white;
	font-size:14px;
	font-weight: normal;
	
		
}


.sid {
	font-size: 12px;
	color: lightgray;
	font-weight: bold;
	margin: 0;	
}

.loop .content {
	background: #F9F9F9;
	padding: 10px;
	margin: 30px;
}

.hashtag {
	color: gray;
}

#loop-editor-toolbar {
	position:absolute;
	right:100px;
	
}

.loop-item-container {
	border: 1px solid lightgray;	
	box-shadow: 1px 1px 1px #eee;
	margin-top: 10px;
	background-color: #FCFCFC;
	
}

#items {
	padding: 0;
}

.loop-item {
	margin: 10px;
}

.unibar {
	color: gray;
	border: none;
	padding: 3px;
	font-size: 14px;
		
}

a.hashtag {
	color: #EE6650;
	text-decoration: none;
	padding-bottom: 3px;
	xfont-size: 14px
}

a.usertag {
	color: blue;
	text-decoration: none;
	padding-bottom: 3px;
	xfont-size: 14px
}


.loophole-container {
	position:relative;
	xtop:-30px;
	left:-30px;
	background-color: #eee;
	padding: 5px;
	margin: auto auto;
	width: 798px;

}

.loophole {
	background-color: #eee;
	margin:0;
	padding:0;
	border: none;
	color: gray;
	font-size: 14px;
	width:100%;
}

.tags-box {
	margin: 2px;
	padding: 5px;	
	/*border: 1px dotted gray;*/
	xdisplay:none;	
}

.tags-box span {
	font-size: 12px; !important;
}

#save-button, #edit-button {
	position:absolute;
	top: 30px;
	right:50px;
}
