body {
	-webkit-font-feature-settings: "kern", "liga";
	-moz-font-feature-settings: "kern", "liga";
	font-feature-settings: "kern", "liga";
	text-rendering: optimizeLegibility;
	border-top: 5px solid #EE6650;
	padding: 0;
	margin: 0;
	color: #eee;
}

body, .body {
	xfont-family: "EB Garamond";
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	font-family: 'Libre Baskerville';
	color: #222;
	font-weight: 400;
	font-size: 2em;
	position: relative;
}

/*.loop-header {
	height: 30px;
	background: #CCC;
}*/

#loop-container {
	border: 1px solid lightgray;
	box-shadow: 2px 2px 3px #ccc;
	margin: 30px auto auto;
	background-color: white;
	width: 800px;
}

.content-wrapper {
	clear:both;
}

.loop {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.loop-inner {
	padding-left: 30px;
	padding-right: 30px;
}

.innerloop-wrapper {
	padding-left: 30px;
	padding-right: 30px;
}

.loop-header .sid {
	color: white;
	font-size: 14px;
	font-weight: normal;
}

.sid {
	font-size: 12px;
	color: lightgray;
	font-weight: bold;
	margin: 0;
}

.loop .content {
	background: #F9F9F9;
	padding: 10px;
	margin: 30px;
}

.hashtag {
	color: gray;
}

.editor-toolbar .cke_top, .editor-toolbar .cke {
	background: none !important;
	border: none;
}

.loop-item-container {
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px #eee;
	margin-top: 10px;
	background-color: #FCFCFC;
}

.loop-item-hr {
	color: #dededc;
	margin-left: 200px;
	margin-right: 200px;
}

#items {
	padding: 0;
}

.loop-item  p {
	margin: 0;
}

.unibar {
	color: gray;
	border: none;
	padding: 3px;
	font-size: 14px;
}

a.hashtag {
	color: #EE6650;
	text-decoration: none;
	padding-bottom: 3px;
	xfont-size: 14px
}

a.usertag {
	color: blue;
	text-decoration: none;
	padding-bottom: 3px;
	xfont-size: 14px
}



.tags-box {
	margin: 2px;
	padding: 5px;
	/*border: 1px dotted gray;*/
	xdisplay: none;
}

.tags-box span {
	font-size: 12px;
	!
	important;
}

#view-mode-button,#edit-mode-button {
	position: fixed;
	top: 40px;
	right: 50px;
}

.loop-handle {
	margin: 10px;
	color: gray;
	font-size: 12px;
}

input:focus,textarea:focus, div[contenteditable='true']:focus {
	outline: none;
	background: #f8f8f8;	
}

input {
	border:none;
}

.filter-input {
	font-style: italic;
	 text-align:right;
	 margin-right:10px;
}

.tab-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	xborder-bottom: 2px solid lightgray;
	padding-bottom:5px;
	xmargin-bottom:10px;
}

.tab-bar li {
	display:inline;
	border-right: 1px solid lightgray;
	color: gray;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:11px;
	
}

.innerloop-bar {
	background: #eee;
	height:10px;
}

#last-saved-msg {
	position:relative;
}

#last-saved-msg-inner {
	position:absolute;
	top:-20px;
	right:10px;
	font-size:12px;
	color:gray;
}

.loop-edit-button {
	border: none !important;
	margin-top:2px;
}

#create-innerloop-button {
	border: none !important;
	color: red;
}

#loophole-editor-toolbar {
	position:absolute;
	right: 30px;
	bottom:10px;
	opacity:0.5;
}

.loopref {
	font-size: 12px;
	color: gray;
}

